h1{
  text-align: center;
}
.castBox{
  background-color: aquamarine;
  border:1px solid grey;
  border-bottom:none;
  display: block;
  height:50px;
  width:500px;
  display: block;
  margin: auto;
  text-indent: 5px;
  cursor: pointer;
}
.castBox:last-child{
  border-bottom:1px solid grey;
}

.ulli{
  margin-top:50px
}